################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/debug
/osrDecoder/x64/Release
/osrDecoder/x64/Debug
/osrKernel/x64
/osrMixer/x64
/release
/x64
